/* style file for ImageCarousel.js */

.carouselImg {
    height: 20vw;
    max-height: 300px;
    max-width: 20vh;
    background-size: contain;
    object-fit: fill;
}

.rec-arrow:hover:not(:disabled) {
    transform: scale(1.2);
}
.rec-arrow {
    background-color: var(--blue) !important;
    transition: all 0.3s ease;
    font-size: 1.1rem !important;
    color: black !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    min-width: 1.7rem !important;
    line-height: 1.7rem !important;
}
